<!DOCTYPE html>
{% load static %}
<html lang="ko">

<head>
    <link rel="stylesheet" href="{% static 'css/withdraw.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원탈퇴</title>
    <link rel="icon" href="{% static 'img/letter.png' %}" type="image/x-icon">
</head>

<body>
    <div id="wrap">
        <a href="{% url 'main:main' %}">
            <div id="title_wrap">
                <div id="title">pit-a-pat</div>
                <div id="subtitle">: 온라인 롤링페이퍼</div>
            </div>
        </a>
        <div id="notice">
            <p id="first">정말 탈퇴하시겠습니까?</p>
            <p id="second">탈퇴하시면 작성하신 롤링페이퍼와 메시지가 모두 삭제됩니다.</p>
        </div>
        <form method="post">
        {% csrf_token %}
        <div id="btn_wrap">
            <button type="submit" class="btn">탈퇴하기</button>
            <button type="button" class="btn" id="return" onclick="location.href='javascript:history.back()'">돌아가기</button>
        </div>
    </form>
    </div>
</body>

</html>